In [1]:
import pandas as pd
import numpy as np

In [2]:
A=np.array([21,22,23,25])
B=np.array([33,37,33,76])
C=np.array([43,44,56,66])
D=np.array([65,24,29,35])
E=np.array([27,88,67,95])

In [4]:
dict_1={"A":A,"B":B,"C":C,"D":D,"E":E}

In [6]:
df_1=pd.DataFrame(dict_1)

In [7]:
df_1

    A   B   C   D   E
0  21  33  43  65  27
1  22  37  44  24  88
2  23  33  56  29  67
3  25  76  66  35  95

In [8]:
df_2=df_1.melt()

In [9]:
df_2

   variable  value
0         A     21
1         A     22
2         A     23
3         A     25
4         B     33
5         B     37
6         B     33
7         B     76
8         C     43
9         C     44
10        C     56
11        C     66
12        D     65
13        D     24
14        D     29
15        D     35
16        E     27
17        E     88
18        E     67
19        E     95

In [10]:
df_2.columns

Index(['variable', 'value'], dtype='object')

In [13]:
treatment=df_2.variable.nunique(dropna=True)
treatment

5

In [15]:
df_treatment=treatment-1
df_treatment

4

In [16]:
total=df_2.value.count()
total

20

In [18]:
df_total=total-1
df_total

19

In [20]:
df_error=df_total-df_treatment
df_error

15

In [22]:
mean_A=np.mean(A)
mean_B=np.mean(B)
mean_C=np.mean(C)
mean_D=np.mean(D)
mean_E=np.mean(E)

In [24]:
mean_total=df_2.value.mean()

In [25]:
mean_total

45.45

In [26]:
df_2.value

0     21
1     22
2     23
3     25
4     33
5     37
6     33
7     76
8     43
9     44
10    56
11    66
12    65
13    24
14    29
15    35
16    27
17    88
18    67
19    95
Name: value, dtype: int32

In [27]:
TSS=0
for i in df_2.value:
    TSS=TSS+((i-mean_tot)**2)

In [28]:
TSS

10218.95

In [29]:
mean_treatment=np.array([mean_A,mean_B,mean_C,mean_D,mean_E])

In [30]:
mean_treatment

array([22.75, 44.75, 52.25, 38.25, 69.25])

In [33]:
SStr=0
for i in mean_treatment:
    SStr=SStr+len(A)*((i-mean_total)**2)
    print(i)

22.75
44.75
52.25
38.25
69.25

In [34]:
SStr

4721.2

In [35]:
SSE=TSS-SStr

In [36]:
SSE

5497.750000000001

In [37]:
mean_SStr=SStr/df_treatment

In [38]:
mean_SSE=SSE/df_error

In [39]:
F_calculated=mean_SStr/mean_SSE

In [47]:
S_O_V=["treatment","error","total"]
DF=[df_treatment,df_error,df_total]
ss=[SStr,SSE,TSS]
mss=[mean_SStr,mean_SSE,np.nan]
fc=[F_calculated,np.nan,np.nan]

In [48]:
Anova={"source of variation":S_O_V,"df":DF,"sum squared(SS)":ss,"mean sum squared":mss,"F (calculated)":fc}

In [49]:
ANOVA_TABLE=pd.DataFrame(Anova)

In [50]:
ANOVA_TABLE

  source of variation  df  sum squared(SS)  mean sum squared  F (calculated)
0           treatment   4          4721.20       1180.300000        3.220317
1               error  15          5497.75        366.516667             NaN
2               total  19         10218.95               NaN             NaN

In [ ]:
 b